<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <img
      class="logo-img"
      src="assets\images\Angular-Logo.gif"
      alt="Angular Logo"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            routerLink=""
            class="nav-link"
            routerLinkActive="text-bg-secondary rounded "
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item"></li>
        <li *ngIf="this.globle.isLogin" class="nav-item">
          <a
            routerLinkActive="text-bg-secondary rounded "
            routerLink="/profile"
            class="nav-link"
            >Profile</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Shop</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                routerLinkActive="text-bg-secondary rounded "
                class="dropdown-item"
                routerLink="AllProducts"
                >All Products</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item">Popular Items</a></li>
            <li><a class="dropdown-item">New Arrivals</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div
      class="collapse navbar-collapse justify-content-end align-items-center"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li *ngIf="!this.globle.isLogin" class="nav-item">
          <button routerLink="login" class="btn btn-outline-primary">
            Login
          </button>
        </li>
        <li
          *ngIf="this.globle.isLogin"
          class="nav-item d-flex justify-content-center align-items-center me-3 bg-body-secondary rounded p-2"
        >
          <fa-icon class="text-secondary mx-1" [icon]="smile"></fa-icon>
          <h6 class="mb-0 text-center">Hello {{ this.globle.userName }}</h6>
        </li>
        <li class="me-3" *ngIf="this.globle.isLogin">
          <form class="d-flex">
            <button
              routerLink="cart"
              class="btn btn-outline-dark"
              type="submit"
            >
              <i class="bi-cart-fill me-1"></i>
              Cart
              <span class="badge bg-dark text-white ms-1 rounded-pill">{{
                this.globle.itemsInCart
              }}</span>
            </button>
          </form>
        </li>
        <li *ngIf="this.globle.isLogin" class="nav-item">
          <button (click)="hundelLogout()" class="btn btn-danger">
            LogOut
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
